extends layout
block content
   head  
      script(type='text/javascript', src='/js/adminItems.js')

   body
      div(class="container-fluid")
         div(class="headerDiv")
            h1= title
            button(class="control row3" name="Update" onClick="submitUpdateForm()") Update
            form(method="post",
               action="/removeAllItems"
               class="form")
               button(class="control row 3") Remove All
         if (resMessage)
            div(class="error")
               each line in resMessage.split("\n")
                  p= line
         p Class list for #{username}:
        
        
         div(class="itemFlag")= itemFlag
         ul.nav.nav-tabs
            li.nav-item
               a.nav-link.active(href='/admin/items') Items
            li.nav-items
               a.nav-link(href='/admin/users') Users


            table(id="table" class="table")
            div(class="addForm")

            
