extends layout
block content
   //- h1= title
   //- p= description
   //- if (!username || (username === ''))
   //-    p You are not logged in
   //- else
   //-    p You are logged in as #{username}.

   //- a Some Store   

   head  
      script(type='text/javascript', src='/js/indexPage.js')

   body
      div(id="searchDiv" class="container-fluid")
         form(method="post",
            action="/search"
            class="form")
            input(class="searchBar" name="searchValue", type='text', placeholder='Enter Search...')
            button(class="searchButton", name="Search") Search

      div(id="tableDiv" class="container-fluid")
         if(tableItems.length > 0)
            each item in tableItems
               div(id="itemDiv")
                  table(id="itemTable" class="table")
                     tr(class="tableHeader")
                        th= item.name
                     tr(class="tableImageRow")
                        td
                           img(class="tableImage" src=item.image)
                     tr(class="tableRow")
                        td= 'Quantity: ' + item.quantity
                     if(username != undefined)
                        td
                           if(item.quantity == 0)
                              button(class="cartButton", name="cartButton") Add to Cart (Order)
                           else                           
                              button(class="cartButton", name="cartButton") Add to Cart